@font-face {
    font-family: 'Ariz';
    src: url('../fonts/1.woff') format('woff2'),
         url('../fonts/2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PRICE';
    src: url('../fonts/seguibl.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

/*login styles start */
.category-section h1:focus-visible {
    outline: none;
    border: none;
}
 h1:focus-visible {
    outline: none;
    border: none;
}
.mainbody {
    overflow-y:auto;
    direction:rtl;
    font-family: 'Ariz', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/mainbg.png);
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mobile-submit{
    display:none!important
}
.NotMobile{
    display:block
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-logo {
    width: 120px;
    position: absolute;
    top: -68px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    background: linear-gradient(135deg, #fefcfb 0%, #f3e7d6 100%);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 300px;
    position: relative;
    overflow: visible; 
    z-index: 1;
}


h2 {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
    color: #333;
    font-size: 20px !important;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 90%;
    padding: 10px;
    font-family: 'Ariz', sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input-container input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}

/*login styles end */
@media (max-width: 960px) {
    .drawer-responsive {
        margin-top: 164px !important  }
}
@media (max-width:375px){
    .mobile-submit{
        display:block!important;
    }
    .NotMobile {
        display: none !important
    }
}
.menubody {
    overflow-y:auto;
    font-family: 'Arial', sans-serif;
    background-color: #f8f1e5;
    background-image: url(/_content/CafeApp.Shared/images/menubg.png);
    background-size: 100%;
    background-position: center;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    font-family: 'Ariz', sans-serif;
    height: 100vh;
}

.header {
    background: url('/_content/CafeApp.Shared/images/headpic.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 0rem;
    height: 80px;
    text-align: center;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.logo {
    background-image: url(/_content/CafeApp.Shared/images/logo.png);
    background-size: cover;
    width: 100px;
    box-shadow: 1px 1px 18px rgb(173 183 16 / 75%);
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 0px solid #fff;
    z-index: 2000;
}

.menu {
    background-color: #f4e4d7;
}

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

.menu-item {
    margin: 0;
}

.menu a {
    color: #6f4e37;
    text-decoration: none;
    padding: 1rem 2rem;
    display: block;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
}

    .menu a:hover {
        background-color: #d4bba6;
        color: #fff;
    }

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 18px rgba(255, 253, 248, 0.75);
    background: #fff1dc52;
    padding-left: 10px;
    padding-right: 10px;
    height: 130px;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 1000;
}

    .carousel-wrapper.sticky {
        top: 0;
    }

.carousel-content {
    display: flex;
    overflow-y: hidden;
    margin-top: 8px;
    overflow-x: scroll;
    margin-right: 20px;
    flex-direction: row-reverse;
    transition: transform 0.5s ease;
    margin-bottom: 0px;
}

    .carousel-content a {
        background-image: url(/_content/CafeApp.Shared/images/gonbad.png);
        background-size: cover;
        flex: 0 0 auto;
        color: #ffede1;
        padding: 0.5rem;
        text-decoration: none;
        display: flex;
        border: 1px solid #ddd;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin: 0.5rem;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        transition: background-color 0.1s, color 0.1s;
        box-shadow: 0.5px 0.5px 18px rgba(54, 39, 3, 0.5);
        flex-direction: column;
        align-items: center;
        transition: box-shadow 0.3s, transform 0.3s;
    }

.tbox {
    position: sticky;
    bottom: 12px;
    color: white;
}

.carousel-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.carousel-content a:hover {
    background-color: #d4bba6;
    border: 3px solid #ddd;
    transition: box-shadow 0.3s, transform 0.3s;
    transform: scale(1.15);
    box-shadow: 0.5px 0.5px 10px rgba(54, 39, 3, 0.5);
}

.container {
    padding: 2rem;
    position: relative;
    /*padding-top: 9rem;*/
}

.content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .content h3 {
        margin-top: 0;
    }

.category-section {
    margin: 4rem 0;
    padding-bottom: 2rem;
    padding-top: 10px;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease;
}

    .category-section h1 {
        font-size: 2.5rem;
        color: #2e110c;
        margin-bottom: 2rem;
    }

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.product {
    background-color: rgb(255 255 255 / 75%);
    border-radius: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    box-shadow: 0.5px 0.5px 18px rgba(54, 39, 3, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 300px;
    height: auto;
    box-sizing: border-box;
    transition: box-shadow 0.3s, transform 0.3s;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

    .product .img-box {
        width: 100%;
        height: 150px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background-color: #fff;
        border: 1px solid #ddd;
        position: relative;
    }

        .product .img-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

    .product h2 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        z-index: 2;
    }

    .product p.description {
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        z-index: 2;
        margin: 0.5rem 0;
    }

    .product p.price {
        font-family: 'PRICE', sans-serif;
        font-weight: bold;
        color: #ffffff;
        overflow: hidden;
        BACKGROUND: #38140bde;
        padding: 10px;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100px;
        width: 40%;
        max-height: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: 0 auto;
        box-shadow: 1px 1px 20px rgba(54, 39, 3, 0.7);
    }

    .product:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.02);
    }

@keyframes pulseEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.footer {
    background: #c7c3c2;
    color: #fff;
    padding: 0rem;
    height: 120px;
    text-align: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgb(62 35 28);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerborder {
    background: url(/_content/CafeApp.Shared/images/footer.jpg) no-repeat center center;
    background-size: cover;
    padding: 0rem;
    height: 110px;
    text-align: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    backdrop-filter: blur(10px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image {
    bottom: 10px;
    width: 100px;
    height: auto;
    z-index: 10000;
    animation: pulseEffect 1s infinite;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

    .footer-image img {
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

.call-box {
    position: fixed;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    background: #4f3027e0;
    padding: 7px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    opacity: 1;
    border: 5px solid #ddddddda;
    transition: opacity 0.5s ease-in-out;
    width: 170px;
    height: 45px;
}

.hidden {
    opacity: 0;
}

.hidden {
    opacity: 0;
}



.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #ffffffeb;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.popup-close {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    background-color: #039f0f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

    .popup-close:hover {
        background-color: #da0404;
    }

#popupOverlay {
    display: none;
}

.imgitem {
    background-size: cover;
    height: 200px;
    width: 300px;
}

.new-badge {
    width: 40px;
    height: 40px;
    background-image: url(/_content/CafeApp.Shared/images/new.png);
    background-size: cover;
    position: absolute;
    right: 0;
    margin: 10px;
    animation: pulseEffect 1s infinite;
}

.out {
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    BACKGROUND: #ad0d2e;
    padding: 10px;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100px;
    width: 40%;
    max-height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0 auto;
    box-shadow: 1px 1px 20px rgba(54, 39, 3, 0.7);
}

.hide {
    display: none;
}




/*dashboard styles */
.dashboard-header {
    background-color: #fffefbcc; 
    color: #333; 
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; 
    font-size: 20px; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    z-index: 1000; 
    white-space: nowrap; 
    overflow-x: auto; 
    border-bottom-left-radius: 25px;
    border: 20px;
    border-color: #000000;
    border-bottom-right-radius: 25px;
    align-items: center;
}

.dashboard-table-count {
    margin-bottom: 10px;
    font-weight: bold;
}

.dashboard-tables {
    display: inline-flex;
    gap: 10px;
}

.dashboard-table {
    flex: 0 0 auto;
    padding: 0.5rem;
    text-decoration: none;
    display: flex;
    color: #000000;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 5px;
    width: 85px;
    height: 85px;
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    position: relative;
}

    .dashboard-table span {
        margin-top: 7px;
        font-size: 28px;
        font-weight: bold;
    }

    .dashboard-table.filled {
        background-image: url(../images/por.png);
        background-size: cover;
    }


.selected {
    transform: scale(1.1);
}

.dashboard-table.empty {
    background-image: url(../images/xali.png);
    background-size: cover;
}

.dashboard-table:hover {
    transform: scale(1.1);
}

.dashboard-table.requesting {
    background-image: url(../images/req.png);
    background-size: cover;
}

.blurred {
    filter: blur(4px);
    opacity: 0.5;
    pointer-events: none; 
}
.dashboard {
    background-image: url(../images/mainbg.png);
    margin: 0;
    font-family: 'Ariz';
    font-size: 19px;
    background-color: #f8f9fa;
    direction: rtl;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.categories {
    padding: 10px;
    background-color: #fdfaf88f;
    
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .categories h2 {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
    }

    .categories ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

        .categories ul li {
            padding: 10px;
            margin: 5px;
            background: #f7fbff;
            width: 100px;
            border-bottom: 1px solid #051d3647;
            cursor: pointer;
            transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.29, 0.82);
            box-shadow: 0.5px 0.5px 6px rgb(33 118 83 / 40%);
        }


            .categories ul li:hover {
                background-color: #e9f4ff;
                box-shadow: 0.5px 0.5px 6px rgb(21 61 80 / 80%);
            }



.items {
    margin-top: 20px;
}

    .items h2 {
        font-size: 18px;
        text-align: center;
    }

    .items ul {
        list-style: none;
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

        .items ul li {
            padding: 10px;
            margin: 5px;
            background: #f5ffed;
            width: 100px;
            border-bottom: 1px solid #053e0c61;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0.5px 0.5px 6px rgb(190 213 161 / 80%);
        }

            .items ul li:hover {
                background-color: #9aff47d5;
                box-shadow: 0.5px 0.5px 6px rgba(24, 99, 24, 0.801);
            }

    .items .item-select {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .items .item-select:hover {
            background-color: #45a049;
        }

    .categories ul li, .items ul li {
        width: 115px;
        cursor: pointer;
        padding: 10px;
        margin: 5px;
        TEXT-ALIGN: right;
        border-radius: 15px;
        list-style: none;
    }

        .categories ul li.selected, .items ul li.selected {
            background-color: #4484c5;
            color: #fff;
            box-shadow: 0.5px 0.5px 6px rgba(9, 10, 61, 0.79);
        }

    .items ul li {
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align:center;
        height:67px;
        width:215px;
        position: relative;
        padding-left: 40px; 
        cursor: pointer;
        MARGIN-LEFT: 15PX;
    }

        .items ul li .count {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #ffffff;
            color: #000000;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 35px;
        }


        .items ul li.selected {
            background-color: #3cbd1c;
            color: #ffffff;
        }

.item-count {
    position: absolute;
    left: 10px;
    background-color: #00796b;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
}

.invoice-wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.invoice-item {
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
    box-sizing: border-box;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.header-left, .header-right {
    width: 30%;
    margin-block: auto;
}

.header-center {
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
}
.table-number {
    flex: 0 0 auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 5px;
    width: 85px;
    height: 85px;
    box-sizing: border-box;
    transition: background-color 0.1s, color 0.1s;
    background-image: url(../images/por.png);
    background-size: cover;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
}

.detail {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.invoice-body {
    margin-bottom: 20px;
}

.product-table {
    width: 100%; 
    max-width: 100%; 
    border-collapse: collapse;
    margin-bottom: 20px;
    box-sizing: border-box; 
    table-layout: fixed; 
}

    .product-table thead {
        background-color: #f4f4f4;
    }

    .product-table th, .product-table td {
        word-break: break-word;
        white-space: normal;
        height: 32px;
        line-height: 20px;
        padding: 0 5px;
        text-overflow: ellipsis;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
    }

    .product-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .product-table tbody tr:nth-child(odd) {
        background-color: #fff;
    }

.adjust-button {
    width: 32px; 
    height: 32px; 
    font-size: 16px; 
    line-height: 32px; 
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}

.minus {
    background-color: #f44336;
    color: #fff;
}

.plus {
    background-color: #4CAF50;
    color: #fff;
}

.invoice-summary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: flex-start;
    gap: 10px; 
    margin-top: 20px;
    font-size: 16px;
}

.summary-item {
    background-color: #f2f2f2;
    width: 43%;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.summary-label {
    font-weight: bold;
    color: #555;
}

.summary-value {
    color: #333;
    font-family: 'PRICE';
}

.invoice-footer {
    border-top: 2px solid #ddd;
    padding-top: 10px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    width: 120px;
    margin: 5px;
    font-family: 'Ariz';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    box-shadow: 0.5px 0.5px 6px rgb(43 39 6 / 80%);
}

.btn-settle-all {
    background-color: #4CAF50 !important;
}

.btn-settle-partial {
    background-color: #FFC107!important;
    color: #333;
}

    .btn-settle-partial.enabel {
        background-color: #4caf50 !important;
        color: #ffffff;
    }

.btn-delete {
    background-color: #f44336 !important;
}

.btn-edit {
    background-color: #2196F3 !important;
}
.hide {
    display: none!important;
}