<section id="cat1" class="category-section">
    <h1>@Item.Title</h1>
    <div class="products">
        @foreach (var item in Item.Products)
        {
            <ProductItem Item="item"></ProductItem>
        }
    </div>
</section>

