<div class="carousel-wrapper">
    <div class="carousel-content">
        @foreach (var item in _categories)
        {
            <CategoryItem Item="item"></CategoryItem>
        }

    </div>
</div>

