@using CafeApp.Business.Helpers.Dtos
@using Shared.RestClient.Interfaces
@inject IApplicationUnit _unit;

<div class="categories">
    <h2>دسته‌بندی‌ها</h2>
    <ul>
        @foreach (var item in Table.Categories)
        {
            <li class="@GetClass(item)" @onclick="()=> ShowItems(item)">‌ @item.Title</li>
        }
    </ul>
</div>

@code{
    string GetClass(DashboardCategoryModel item)
    {
        string _styleClass = string.Empty;
        if (item.Items.Any(x=>x.Amount>0))
            _styleClass = "selected";
        return _styleClass;
    }
}