@using Microsoft.JSInterop
@inject IApplicationUnit _unit;
@inject IJSRuntime _js;
<div class="carousel-wrapper">
    <div class="carousel-content">
        @foreach (var item in _categories)
        {
            <div @onclick="()=>GoToCategory(item.Id)" >
            <CategoryItem  Item="item"></CategoryItem>
            </div>
        }

    </div>
</div>

